<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="info">
            <h2><%= movie.title %></h2>
            <div>
                <p><%= movie.description %></p>
            </div>
            <button class="info__delete" data-info="<%= movie._id %>">Delete</button>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script>
        const deleteEl = document.querySelector('button.info__delete')
        deleteEl.addEventListener('click', (e) => {
            const endpoint = `/movieList/${deleteEl.dataset.info}`

            const delBtnFunc = async () => {
                try {
                    const res = await fetch(endpoint, {
                        method: 'DELETE'
                    })
                    const data = await res.json()
                    window.location.href = data.redirect
                } catch (err) {
                    console.log(err)
                }
            }
            delBtnFunc()
        })
    </script>
</body>
</html>